/*
*******************************
  Main Styles
*******************************
*/

body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
}

#flashcards {
  width: 380px;
  margin: 0 auto;
  color: #fbfbfb;
}


/*
*******************************
  Controls: Correct, Wrong Styles
*******************************
*/

#correct, #wrong {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.controls div {
  width: 100%;
  text-align: center;
  padding: 25px 0;
  cursor: pointer;
  display: inline-block;
}

.controls label {
  font-size: 3em;
  cursor: pointer;
}

.correct {
  background-color: #7dce90;
  float: left;
  width: 100%;
}

.wrong {
  background-color: #dc7a6b;
}

/*
*******************************
  Question/ Answer Styles
*******************************
*/


#current-question, #current-answer {
  padding: 8px 11px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #4a8bc0;

}

#current-question li, #current-answer li {
  margin: 0;
  padding-bottom: 15px;
}

#current-answer li a {
  color: #fbfbfb;
}

#current-question {
  min-height: 320px;
  font-size: 1.3em;
}

#current-answer {
  background-color: #6fadde;
 height: 100px;
  display: block;
}

#current-answer p {
  display: block;
  height: 300px;
}

 

/*
*******************************
  Footer Styles
*******************************
*/

.footer > div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  font-size: .8em;
  padding: 6px;
}

.stats {
  background-color: #324253;
  width: 100%;
}

.questions-count {
  display: inline-block;
}

.current-stats {
  float: right;
  margin-right: 20px;
}

.icon-stats {
  margin-right: 10px;
}


